<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add  name="DefaultConnection" connectionString="Server=localhost;Database=denelzen_922907c09fdd9103f1af9927da195f78;User Id=b9057ee5d577c8ccfbcc2c74ab6f9517;Password=cWke676#;" xdt:Transform="Replace" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FaceBookAppId" value="1429486497180109" xdt:Transform="Remove" />
    <add key="FacebookAppSecret" value="a84b94d135f8d452cc4cfe52e501c5ae" xdt:Transform="Remove" />
    <add key="FaceBookAppId" value="176970796188569" xdt:Transform="Insert" />
    <add key="FacebookAppSecret" value="fb3291c6a49c2a9445d1b11bd3ad5610" xdt:Transform="Insert" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Insert" mode="Off"/>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>